#buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    /* Gaya lainnya */
}

#score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* Gaya lainnya */
}

#player-score {
    color: blue;
    font-size: 5em;

}

#computer-score {
    color: brown;
    font-size: 5em;
    /* Gaya lainnya */
}